/* ---------- GLOBALS --------- */
body {
    background: #F7F2DE;
    font-size: 16px;
    margin: 0px;
}

main, footer, header {
    max-width: 1512px;
    margin: 0 auto; /*center everything*/
}

main {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* ----------- RESETS ----------- */

h1, h2, h3, h4, h5, h6 { 
    margin-block-start: 0; 
    margin-block-end: 0;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;      /* Can this be removed later? */
    cursor: pointer;    /* Can this be removed later?*/
    outline: inherit;   /* Can this be removed later? */
 }


/* --------- TEXT -------- */

h1 { /*Logo tekst*/
    font-family: "Frank Ruhl Libre", serif;
    font-weight: lighter; 
}

h2 { /*Headings on page*/
    font-family: "Arimo", serif;
    font-size: 36px;
    font-weight: normal; 
}

h3 { /*Product name and kr/kg*/
    font-family: "Arimo", serif;
    font-size: 24px;
    font-weight: normal; 
    color: #1B1A1E;
}

h4 { /*Sub-header, large body (produce) and weight*/
    font-family: "Arimo", serif;
    font-size: 20px;
    font-weight: normal; 
    color: #1B1A1E;
}

h5 { /*Accent text (undertekst)*/
    font-family: "Frank Ruhl Libre", serif;
    font-weight: lighter;
    font-size: 20px;
    color: #1B1A1E;
}

h6 { /*Footer tekst*/
    font-family: "Frank Ruhl Libre", serif;
    font-weight: lighter;
    font-size: 24px;
    color: #FFFFFF;
}

p { /*Info text - body  */
    font-family: "Arimo", serif;
    font-size: 16px;
    font-weight: normal;
    color: #000000;
}

header h1 {
    color: #1B1A1E;
    font-size: 32px;
}


/* -------------  BUTTONS ------------- */

.red-button {
    background-color: #DC4131;
    color: #FFFFFF;
    width: 320px;
}

.red-button:hover {
    background-color: #ae2e21;
}

.red-button, .submit-button {
    font-family: "Arimo", serif;
    font-size: 16px;
    height: 44px;
    border-radius: 8px;
}

.submit-button {
    background-color: #E1EAF0;
    color: #0B0A08;
    width: 459px;
} 

#homeBtn {
    text-decoration: none;
}


/* -------------- HEADER -------------- */

header {
    border-bottom: 1px solid #000000;
}

header h1 {
    width: 100px;
}

header p {
    width: 45px;
}

header nav ul li {
   list-style: none; 
}

#topnav-line {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.material-symbols-outlined {
    color: #0B0A08;
    text-decoration: none;
    margin-left: 32px;
}

.sidebar {
    width: 0;
    height: 100%;
    background-color: #008F51;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    font-family: "Arimo", serif;
    font-size: 36px;
    color: #1B1A1E;
    text-decoration: none;
    padding: 8px 0px;
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidebar a:hover {
    text-decoration: underline;
    flex: auto;
}

#openBtn {
    font-size: 36px; /* Can be put together with closeBtn - fix later */
}

#openBtn:hover {
    opacity: 40%;
}

#closeBtn {
    position: absolute;
    top: 22px;
    left: 32px;
    font-size: 36px;
}

#closeBtn:hover {
    color: #F7F2DE;
}

#productNav {
    padding-top: 130px; 
}

#checkoutNav {
    padding-top: 130px;
}

.cart-count {
    background-color: #28BD6D;
    font-size: 14px;
    border-radius: 50px;
    width: 47px;
    height: 36px;
    margin-right: 32px;
}

.cart-number {
    height: 36px;
    margin: 0px;
    text-align: center;
    align-content: center;
    font-size: 14px;
}


/* ---------- HERO-SECTION (INDEX.HTML) ----------- */

#hero-section {
    text-align: center;
    color: white;
    background-image: url("Hero-pic-mountains.jpg");
    height: 850px;
    background-size: cover;
    flex-direction: column;
}

.hero-heading {
    color: #FFFFFF;
    font-size: 200px;
    padding-top: 125px;
}

.vertical-line {
    border-left: 2px solid #FFFFFF;
    height: 145px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -1px;
}

.hero-text {
    color: #FFFFFF;
    padding-top: 251px;
}

.border-bottom {
    border-bottom: 1px solid #FFFFFF;
}


/* --------- SECTION: SHORTCUT-DISPLAY (INDEX.HTML) --------- */

#shortcut-display {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.shortcut-display-left, .shortcut-display-right {
    text-align: center;
    align-items: center;
    padding: 90px 154px;
    color: #1B1A1E;
    width: 50%;
}

.shortcut-display-right {
    border-left: 1px solid black;
}

.shortcut-display-left h2, .shortcut-display-right h2 {
    padding-bottom: 8px;
}

#shortcut-display div img {
    border-radius: 16px;
    margin: 44px 0px;
}


#shortcut-display div button {
    margin-top: 44px;
}


/* ---------- SECTIONS: HOW IT WORKS (INDEX.HTML) & SEE OUR PARTNERING FARMS (PRODUCT-PAGE.HTML) --------- */

#informationAndGuidance {
    display: flex;
    flex-direction: row;
    max-width: 1512px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#informationAndGuidance div h2 {
    color: #1B1A1E;
    padding: 45px;
}

.informationAndGuidance-left {
    text-align: center;
    align-content: center;
}

.informationAndGuidance-right {
    border-left: 1px solid black;
    width: 70%;
}


.informationAndGuidance-right-child {
    border-bottom: 1px solid black;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

#informationAndGuidance div div h4 {
    width: 278px;
}

#informationAndGuidance div div p, section div div a {
    width: 414px;
}

#child1 {
    border-bottom: 0px;
}

#map-partnerFarms {
    text-align: center;
    align-content: center;
    padding: 90px 0px 90px 0px;
    flex: 1 1 400px;
}

iframe {
    width: 745px; /*if possible later = calc(100%-264px);*/
    height: 478px; /*if possible later = calc(100%-180px);*/
}


/* --------- SECTIONS: MOST POPULAR DISPLAY (INDEX.HTML) & PRODUCT PAGE (PRODUCT-PAGE.HTML) --------- */

#shortcut-display, #most-popular-display {
    background: #ffffff;
}

#most-popular-display {
    border: none; /* Someting gets fucked with the padding at h2 if I remove this - fix later */
}

#most-popular-display h2 {
    padding: 90px 45px 45px 45px;
    color: #1B1A1E;
}

#most-popular-display div img, #product-display div img {
    width: 455px;
    height: 432px;
    object-fit: cover;
    border-radius: 16px;
}

.product-card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 45px 90px 45px;
}

.product-card {
    width: 454px;
}

.img-container {
    position: relative;
    width: 100%; 
}

.addToBasketBtn {  /* Might be better to move to buttons later, some repeats */
    background-color: #0B0A08;
    color: #FFFFFF;
    font-family: "Arimo", serif;
    font-size: 16px;          
    height: 40px;
    width: 152px;
    border-radius: 44px;
    position: absolute;
    bottom: 19px;
    right: 20px;
}

.product-card-child {
    display: flex;
    justify-content: space-between;
    padding: 18px 23px 12px 14px;
}

#most-popular-display div div h4 {
    margin-left: 14px;
    margin-bottom: 18px;
}

#product-card-produce_page {
    margin-top: 50px;
}

#produce-page-heading {
    max-width: 591px;
    margin-left: 43px;  
}

#produce-page-heading h2 {
    margin-top: 90px;
}

#produce-page-heading h4 {
    margin-top: 30px;
}

#product-card-produce_page h4 {
    margin-left: 14px;
}


/* ---------- FOOTER ----------- */

footer {
    background: #DC4131;
    display: flex;
    flex-direction: column;
}

.footer-heading {
    font-size: 48px;
    padding-top: 55px;
    padding-bottom: 25px;
    margin-left: 45px;
    border-bottom: 1px solid #FFFFFF;
}

.form-box {
    padding-left: 57px;
    padding-bottom: 93px;
    width: 444px;
}

form {
    margin-top: 36px;
    margin-bottom: 24px;
}

form input {
    display: block;
    margin-bottom: 16px;
    width: 100%;
    height: 44px;
    font-size: 16px;
    padding-block: 0px;
    padding-inline: 0px;
    border-width: 0px;
    padding-left: 16px;
    border-radius: 4px;
}

footer div h2 {
    margin-top: 63px;
    margin-bottom: 23px;
    color: #FFFFFF;
}


/*  ----------- CHATBOT.HTML ----------- */

#chatbot-section {
    margin: 0;
    background-image: url('Hero-pic-mountains.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container {
    background-color: white;
    width: 90%;
    max-width: 500px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-box {
    padding: 1rem;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chat-box h6 {
    color: #0B0A08;
    font-size: 16px;
}
  
.message {
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    max-width: 80%;
}
  
.bot {
    background-color: #F7F2DE;
    align-self: flex-start;
}
  
.user {
    background-color: #E1EAF0;
    align-self: flex-end;
}
  
.chat-input-area {
    display: flex;
    padding: 0.5rem;
    background-color: white;
    margin-bottom: 0;
}
  
#user-input {
    flex: 1;
    padding: 0 0 0 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    outline: none;
    height: 44px;
    margin: 0;
    background-color: #E1EAF0;
}
  
#chat-sendBtn {
    background-color: #DC4131;
    color: white;
    border: none;
    border-radius: 16px;
    width: 60px;
    height: 44px;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}


/* ------------ RESPONSIVE ------------- */   

@media (max-width: 1511px) {
  #shortcut-display {
        flex-direction: column; /* Make row for a bit smaller screens - fix later */
        width: 100%;
  }

  .shortcut-display-right {
        border-left: 0px;
        border-top: 1px solid black;
  }
  .shortcut-display-left, .shortcut-display-right {
        text-align: center;
        align-items: center;
        padding: 90px 0px;
        width: 100%;
  }
  
  #shortcut-display div img {
        border-radius: 16px;
        margin: 44px 0px;
        width: 70%;
    }
  
  .informationAndGuidance-right {
        flex-direction: column !important;
        width: 100%;
        text-align: center;
        align-content: center;
        border-top: 1px solid black;
    }
    
    #map-partnerFarms { /* Responsiveness of map could be improved - fix later */
        padding-top: 45px;
        padding-bottom: 45px;
        padding-right: 25px;
        padding-left: 25px;
        flex: 1 1 100px;
    }

    #map-box {
        border-top: none;
    }

    #map-header-box {
        border-bottom: 1px solid black;
    }

    .wrapper {
        flex-direction: column !important;
        width: 100%;
        text-align: center;
        align-content: center;
    }

}


@media (max-width: 820px) {
    .informationAndGuidance-right-child {
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 720px) {
    .sidebar {
        max-width: 100vw;
        height: 100%;
    }

    .sidebar a {
        font-size: 24px;
    }

    .sidebar {
        padding-top: 15px;
    }

    #productNav {
        padding-top: 130px; 
    }

    #checkoutNav {
        padding-top: 130px;
    }

    #closeBtn {
        font-size: 24px;
    }

    #closeBtn:hover {
        color: #F7F2DE;
    } 

    #hero-section {
        height: 579px;
    }

    .vertical-line {
        border-left: 2px solid #FFFFFF;
        height: 239px;
    }

    .hero-heading {
        font-size: 75px;
        padding-top: 57px;
        padding-bottom: 30px;
    }

    .hero-text {
        padding-top: 300px;
        padding-right: 16px;
        padding-left: 16px;
        padding-bottom: 16px;
    }
    
    h2 { /*Headings on page*/
        font-size: 24px;
    }

    h3 { /*Product name and kr/kg*/
        font-size: 20px;
    }

    h4 { /*Sub-header, large body (produce) and weight*/
        font-size: 18px;
    }

    h5 { /*Accent text (undertekst)*/
        font-size: 16px;
    }

    h6 { /*Footer tekst*/
        font-size: 16px;
    }

    p { /*Info text - body  */
        font-size: 16px;
    }

    .red-button {
        background-color: #DC4131;
        color: #FFFFFF;
        width: 270px;
    }

    .shortcut-display-left, .shortcut-display-right {
        padding: 90px 0px;
    }

    #shortcut-display div img {
        width: 70%;
    }

    .informationAndGuidance-right {
        max-width: 100vw;
    }

    .informationAndGuidance-right-child {
        padding-left: 45px;
        padding-right: 45px;
    }

    .informationAndGuidance-right-child p, .text-link-container {
        max-width: 100%;
    }

    .form-box {
        padding-left: 29px;
        padding-bottom: 50px;
        width: 255px;
    }

    .submit-button {
        width: 270px;
    } 

    #most-popular-display div img, #product-display div img {  /* ONLY APLY FOR INDEX PAGE */
        height: 321px;
        margin-right: 32px;
    }

    #most-popular-display .product-card-container { /* ONLY APLY FOR INDEX PAGE */
        overflow: auto;
        height: 454px;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 37px;
        padding-bottom: 35px;
    }

    #most-popular-display .product-card { /* ONLY APLY FOR INDEX PAGE */
        height: 454px;
        width: 250px;
        padding-right: 32px;
    }

    iframe {
        width: 340px; /*if possible later = calc(100%-50px)*/
        height: 459px; /*if possible later = calc(100%-90px)*/
    }

    .chat-box {
        height: 400px;
    }

}